<a href="https://colab.research.google.com/github/murali-marimekala/pg-genai-ml/blob/main/Python_refresh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!!")

Hello World!!

In [ ]:
import sys
print(sys.version)

3.13.9 | packaged by Anaconda, Inc. | (main, Oct 21 2025, 19:11:29) [Clang 20.1.8 ]

# Variables

In [ ]:
# Variables in Python is created when you asisgn a value to it. Python is a dynamically typed language, which means you don't need to declare the type of variable explicitly.
x = 5
y = "John"

print(x)
print(y)

5
John

In [ ]:
# You can change the value of a variable, and it can even change its type.
x = 10
x = "Hello"
print(x)

Hello

In [ ]:
# Casting in Python is the process of converting a variable from one type to another.
# You can use built-in functions like str(), int(), and float() to perform casting.
x = str(3)    # x will be '3
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
# Type() function is used to determine the type of a variable.
x = 5
y = 10.5
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
#Single and double quotes can be used to create string literals in Python.
# Both are functionally equivalent, and you can use either based on your preference or to avoid the need for escaping characters.
str = "Hello World"
print(str)

str2 = 'Hello World'
print(str2)

Hello World
Hello World

In [ ]:
# a will not overwrite A
a=10
A="Rana"
print(A)

Rana

# Variable names

In [ ]:
# Variable names are case-sensitive in Python. This means that a variable named "a" is different from a variable named "A".

var1 = 10
var_1 = 20
_var_1 = 30
VAR1=40
print(var1)
print(var_1)
print(_var_1)
print(VAR1)

10
20
30
40

In [ ]:
# Invalid variable names
var-1 = 50
var 1 = 60
1var=70

SyntaxError: invalid decimal literal (434366020.py, line 3)

# Multi Words Variable Names

In [ ]:
#Camel case
myVariableName = "Rana"

#Pascal case
MyVariableName = "Rana"

#Snake case
my_variable_name = "Rana"

print(myVariableName)
print(MyVariableName)
print(my_variable_name)

Rana
Rana
Rana

# Many Values to Multiple Variables

In [ ]:
# One value to multiple variables
x, y, z = "Orange", 5,  6.8
print(x)
print(y)
print(z)

Orange
5
6.8

# One Value to Multiple Variables

In [ ]:
# One value to multiple variables
x=y=z=10
print(x)
print(y)
print(z)

10
10
10

# Unpack a Collection

In [ ]:
# Unpacking a collection
fruits = ["Banana", "Strawberry", "Craneberry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Banana
Strawberry
Craneberry

# Output Variabels

In [3]:
# Print function is often used to ouptut variables
x = "Python is awsome"
print(x)

Python is awsome

In [4]:
# Print has its limitations. If you combine a string and a number with the + opeartor , python will give you an error
x = 5
y = "Rana"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Global Variable

In [6]:
#Variables that are created outside a function are known as global variables

x = "awesome"

def myfun():
  print("Python is " + x)

myfun()

Python is awesome

In [9]:
# If you create a variable with the same name inside a function , this variable wilil be local and can be only used inside the fucntion.

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x) # Displays fantastic the local variable value

myfunc()

print("Python is " + x) # Displays awesome the global variable value

Python is fantastic
Python is awesome

# The Global Keyword

In [11]:
# If you use global keyword, the variable belogs to the global scope

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is "+x)

Python is fantastic

In [16]:
# Use global keyword if you want ot change a global vairable inside a function

x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x) # global value of x "awesome" is overwritten by "fantastic"

Python is fantastic
Python is fantastic

# Python Data Type

- Text type : str
- Numeric types :  int, float, complex
- Sequence Types : list, tuple, range
- Mapping Type : dict
- Set Types : set, frozenset
- Boolean Type : bool
- Binary Types : bytes, bytearray, memoryview
- None Type : NoneType

#Getting the Data type

In [17]:
x = 5
print(type(x))

<class 'int'>

# Setting the data type

In [32]:
x = "Hello world"
print(type(x))

x = 20
print(type(x))

x = 20.5
print(type(x))

x = 1j
print(type(x))

x = ["apple", "banana", "cherry"]
print(type(x))

x = ("apple", "banana", "cherry")
print(type(x))

x = range(6)
print(type(x))

x = {"name" : "John", "age" : 36}
print(type(x))

x=frozenset({"apple", "banana", "cherry"})
print(type(x))

x = {"apple", "banana", "cherry"}
print(type(x))

x = True
print(type(x))

x = memoryview(bytes(5))
print(type(x))

x=b"hello"
print(type(x))

x=bytearray(5)
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'frozenset'>
<class 'set'>
<class 'bool'>
<class 'memoryview'>
<class 'bytes'>
<class 'bytearray'>

# Setting the specific Data Type

In [48]:
x = str("Hello world")
print(type(x))

x = int(20)
print(type(x))

x = float(20.5)
print(type(x))

x = complex(1j)
print(type(x))

x = list(("apple", "banana", "cherry"))
print(type(x))

x = tuple(("apple", "banana", "cherry"))
print(type(x))

x = range(6)
print(type(x))

x = dict(name="John", age=36)
print(type(x))

x = set(("apple", "banana", "cherry"))
print(type(x))

x = frozenset(("apple", "banana", "cherry"))
print(type(x))

x = bool(5)
print(type(x))

x = bytes(5)
print(type(x))

x = bytearray(5)
print(type(x))

x=memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

#Python Numbers

There are three numeric types in python
- int
- float
- complex

In [50]:
x = 1
y = 2.0
z = 1+3j
print(x)
print(y)
print(z)

1
2.0
(1+3j)

# Int

Int or integer is a whole number positive or negative without decimals of unlimited length

In [52]:
x = 1
y = 23423423424324
z = -344
print(x, y, z)

1 23423423424324 -344

# Float

Flocat or floating point number is a number , positive or negative, containing one or more decimals

In [54]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

#Float can be scientific numbers with an "e" to indicate the power of 10

x = 10e3
y = 12E4
z = -87.7e100

print(x)
print(y)
print(z)

<class 'float'>
<class 'float'>
<class 'float'>
10000.0
120000.0
-8.77e+101

# Complex

Complex number are written with a "j" as the imaginary part

In [56]:
x = 3+5j
y = 5j
z = -5j

print(x, y, z)

(3+5j) 5j (-0-5j)

# Type Conversion

You can covert from one type to the other with the init(), float() and complex() methods

In [57]:
x = 1
y = 2.3
z = 1j

# convert from int to float
a = float(x)

# Convert from float to int
b = int(y)

#Convert from int to complex
c = complex(x)

print(a)
print(b)
print(c)

1.0
2
(1+0j)

# Random number

Python has build-in module called random to generate random numbers

In [59]:
import random
print(random.randrange(1,20))

4

# Python  Casting

Casting in python is done using constructor functions

- init() : Constructs an integer from an integer literal, a float literal, or string literal
- float() : Constructs a float from integer or string literal
- str() : Constructs a string from a wide variety of data types , including strings, integer literals and float literals

In [61]:
#Integers
x = int(1)
y = int(1.2)
z = int("3")

print(x, y, z)

1 1 3

In [65]:
#Floats
x = float(1)
y = float(2.3)
z = float("4")

print(x, y, z)

1.0 2.3 4.0

In [67]:
#string
x = str("s1")
y = str(3)
z = str(4.2)

print(x, y, z)

s1 3 4.2

# Strings

Strings in python are either surrounded by single quote marks, or double quotation marks . Ex 'Rana' or "Rana"

In [75]:
# Quotes inside Quotes : You can use quotes inside string, as long as they dont match the quotes surrouning the string

print("It's alright")
print("He is called 'Rana'")
print('He is called "Rana"')

It's alright
He is called 'Rana'
He is called "Rana"

In [76]:
# Assign String to a variable : Assining a string to a variable is done with the variable name followed by an equal sign and the string

a="Hello"
print(a)

Hello

In [79]:
# Multiline string : You can assign multiline string to a variabe by using three quotes

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod"""

print(a)

b = ''' This is a sample
string that is spread across
multiple lines '''
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod
 This is a sample
string that is spread across
multiple lines

# Strings are Arrays

In [86]:
# Strings in python are arrays of unicode characters. Note python doesnt have character type data type.
# Single character is a string of lenght 1

a = "Hellow world"
print(a[1])

# Looping through the string
for x in "Rana":
  print(x)

#String length
print(len(a))

#Check string
for x in "Rana":
  if x == "a":
    print("Yes")

print("world" in a)

#Check if not present
print("world" not in a)

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")
else:
  print("No, 'free' is not present.")

e
R
a
n
a
12
Yes
Yes
True
False
Yes, 'free' is present.

# Python - Slicing Strings

In [90]:
b = "Slicing a string"
print(b[2:5]) # Prints from index 2 (which starts with 0) to 4 only. Not 5

#Slice from the start
print(b[:5]) #Print from 0 to 4

# Slice to the end
print(b[2:]) #Print from 2 till end

b = "Hello, World!"
#Negative indexing
print(b[-5:-2]) #Print from -5 to -2

ici
Slici
icing a string
orl

# Python - Modify Strings

Python has set of buildin methods that can use on strings

In [3]:
# To upper case
a = "Hello, World!"
print(a.upper())


#To Lower case
print(a.lower())

#Remove whitespace
a = "      Hello, World!     "
print(a.strip())

HELLO, WORLD!
hello, world!
Hello, World!