In [ ]:
print("Hello World!!")

Hello World!!

In [ ]:
import sys
print(sys.version)

3.13.9 | packaged by Anaconda, Inc. | (main, Oct 21 2025, 19:11:29) [Clang 20.1.8 ]

# Variables

In [ ]:
# Variables in Python is created when you asisgn a value to it. Python is a dynamically typed language, which means you don't need to declare the type of variable explicitly.
x = 5
y = "John"

print(x)
print(y)

5
John

In [ ]:
# You can change the value of a variable, and it can even change its type.
x = 10
x = "Hello"
print(x)

Hello

In [ ]:
# Casting in Python is the process of converting a variable from one type to another.
# You can use built-in functions like str(), int(), and float() to perform casting.
x = str(3)    # x will be '3
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
# Type() function is used to determine the type of a variable.
x = 5
y = 10.5
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
#Single and double quotes can be used to create string literals in Python.
# Both are functionally equivalent, and you can use either based on your preference or to avoid the need for escaping characters.
str = "Hello World"
print(str)

str2 = 'Hello World'
print(str2)

Hello World
Hello World

In [ ]:
# a will not overwrite A
a=10
A="Rana"
print(A)

Rana

# Variable names

In [ ]:
# Variable names are case-sensitive in Python. This means that a variable named "a" is different from a variable named "A".

var1 = 10
var_1 = 20
_var_1 = 30
VAR1=40
print(var1)
print(var_1)
print(_var_1)
print(VAR1)

10
20
30
40

In [ ]:
# Invalid variable names
var-1 = 50
var 1 = 60
1var=70

SyntaxError: invalid decimal literal (434366020.py, line 3)

# Multi Words Variable Names

In [ ]:
#Camel case
myVariableName = "Rana"

#Pascal case
MyVariableName = "Rana"

#Snake case
my_variable_name = "Rana"

print(myVariableName)
print(MyVariableName)
print(my_variable_name)

Rana
Rana
Rana

# Many Values to Multiple Variables

In [ ]:
# One value to multiple variables
x, y, z = "Orange", 5,  6.8
print(x)
print(y)
print(z)

Orange
5
6.8

# One Value to Multiple Variables

In [ ]:
# One value to multiple variables
x=y=z=10
print(x)
print(y)
print(z)

10
10
10

# Unpack a Collection

In [ ]:
# Unpacking a collection
fruits = ["Banana", "Strawberry", "Craneberry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Banana
Strawberry
Craneberry

# Output Variabels

In [3]:
x = "Python is awsome"
print(x)

Python is awsome