<a href="https://colab.research.google.com/github/murali-marimekala/pg-genai-ml/blob/main/Python_refresh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!!")

Hello World!!

In [ ]:
import sys
print(sys.version)

3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

# Variables

In [ ]:
# Variables in Python is created when you asisgn a value to it. Python is a dynamically typed language, which means you don't need to declare the type of variable explicitly.
x = 5
y = "John"

print(x)
print(y)

5
John

In [ ]:
# You can change the value of a variable, and it can even change its type.
x = 10
x = "Hello"
print(x)

Hello

In [ ]:
# Casting in Python is the process of converting a variable from one type to another.
# You can use built-in functions like str(), int(), and float() to perform casting.
x = str(3)    # x will be '3
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
# Type() function is used to determine the type of a variable.
x = 5
y = 10.5
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
#Single and double quotes can be used to create string literals in Python.
# Both are functionally equivalent, and you can use either based on your preference or to avoid the need for escaping characters.
str = "Hello World"
print(str)

str2 = 'Hello World'
print(str2)

Hello World
Hello World

In [ ]:
# a will not overwrite A
a=10
A="Rana"
print(A)

Rana

# Variable names

In [ ]:
# Variable names are case-sensitive in Python. This means that a variable named "a" is different from a variable named "A".

var1 = 10
var_1 = 20
_var_1 = 30
VAR1=40
print(var1)
print(var_1)
print(_var_1)
print(VAR1)

10
20
30
40

In [ ]:
# Invalid variable names
var-1 = 50
var 1 = 60
1var=70

SyntaxError: invalid decimal literal (434366020.py, line 3)

# Multi Words Variable Names

In [ ]:
#Camel case
myVariableName = "Rana"

#Pascal case
MyVariableName = "Rana"

#Snake case
my_variable_name = "Rana"

print(myVariableName)
print(MyVariableName)
print(my_variable_name)

Rana
Rana
Rana

# Many Values to Multiple Variables

In [ ]:
# One value to multiple variables
x, y, z = "Orange", 5,  6.8
print(x)
print(y)
print(z)

Orange
5
6.8

# One Value to Multiple Variables

In [ ]:
# One value to multiple variables
x=y=z=10
print(x)
print(y)
print(z)

10
10
10

# Unpack a Collection

In [ ]:
# Unpacking a collection
fruits = ["Banana", "Strawberry", "Craneberry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Banana
Strawberry
Craneberry

# Output Variabels

In [ ]:
# Print function is often used to ouptut variables
x = "Python is awsome"
print(x)

Python is awsome

In [ ]:
# Print has its limitations. If you combine a string and a number with the + opeartor , python will give you an error
x = 5
y = "Rana"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Global Variable

In [ ]:
#Variables that are created outside a function are known as global variables

x = "awesome"

def myfun():
  print("Python is " + x)

myfun()

Python is awesome

In [ ]:
# If you create a variable with the same name inside a function , this variable wilil be local and can be only used inside the fucntion.

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x) # Displays fantastic the local variable value

myfunc()

print("Python is " + x) # Displays awesome the global variable value

Python is fantastic
Python is awesome

# The Global Keyword

In [ ]:
# If you use global keyword, the variable belogs to the global scope

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is "+x)

Python is fantastic

In [ ]:
# Use global keyword if you want ot change a global vairable inside a function

x = "awesome"

def myfunc():
  global x
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x) # global value of x "awesome" is overwritten by "fantastic"

Python is fantastic
Python is fantastic

# Python Data Type

- Text type : str
- Numeric types :  int, float, complex
- Sequence Types : list, tuple, range
- Mapping Type : dict
- Set Types : set, frozenset
- Boolean Type : bool
- Binary Types : bytes, bytearray, memoryview
- None Type : NoneType

#Getting the Data type

In [ ]:
x = 5
print(type(x))

<class 'int'>

# Setting the data type

In [ ]:
x = "Hello world"
print(type(x))

x = 20
print(type(x))

x = 20.5
print(type(x))

x = 1j
print(type(x))

x = ["apple", "banana", "cherry"]
print(type(x))

x = ("apple", "banana", "cherry")
print(type(x))

x = range(6)
print(type(x))

x = {"name" : "John", "age" : 36}
print(type(x))

x=frozenset({"apple", "banana", "cherry"})
print(type(x))

x = {"apple", "banana", "cherry"}
print(type(x))

x = True
print(type(x))

x = memoryview(bytes(5))
print(type(x))

x=b"hello"
print(type(x))

x=bytearray(5)
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'frozenset'>
<class 'set'>
<class 'bool'>
<class 'memoryview'>
<class 'bytes'>
<class 'bytearray'>

# Setting the specific Data Type

In [ ]:
x = str("Hello world")
print(type(x))

x = int(20)
print(type(x))

x = float(20.5)
print(type(x))

x = complex(1j)
print(type(x))

x = list(("apple", "banana", "cherry"))
print(type(x))

x = tuple(("apple", "banana", "cherry"))
print(type(x))

x = range(6)
print(type(x))

x = dict(name="John", age=36)
print(type(x))

x = set(("apple", "banana", "cherry"))
print(type(x))

x = frozenset(("apple", "banana", "cherry"))
print(type(x))

x = bool(5)
print(type(x))

x = bytes(5)
print(type(x))

x = bytearray(5)
print(type(x))

x=memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

#Python Numbers

There are three numeric types in python
- int
- float
- complex

In [ ]:
x = 1
y = 2.0
z = 1+3j
print(x)
print(y)
print(z)

1
2.0
(1+3j)

# Int

Int or integer is a whole number positive or negative without decimals of unlimited length

In [ ]:
x = 1
y = 23423423424324
z = -344
print(x, y, z)

1 23423423424324 -344

# Float

Flocat or floating point number is a number , positive or negative, containing one or more decimals

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

#Float can be scientific numbers with an "e" to indicate the power of 10

x = 10e3
y = 12E4
z = -87.7e100

print(x)
print(y)
print(z)

<class 'float'>
<class 'float'>
<class 'float'>
10000.0
120000.0
-8.77e+101

# Complex

Complex number are written with a "j" as the imaginary part

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(x, y, z)

(3+5j) 5j (-0-5j)

# Type Conversion

You can covert from one type to the other with the init(), float() and complex() methods

In [ ]:
x = 1
y = 2.3
z = 1j

# convert from int to float
a = float(x)

# Convert from float to int
b = int(y)

#Convert from int to complex
c = complex(x)

print(a)
print(b)
print(c)

1.0
2
(1+0j)

# Random number

Python has build-in module called random to generate random numbers

In [ ]:
import random
print(random.randrange(1,20))

4

# Python  Casting

Casting in python is done using constructor functions

- init() : Constructs an integer from an integer literal, a float literal, or string literal
- float() : Constructs a float from integer or string literal
- str() : Constructs a string from a wide variety of data types , including strings, integer literals and float literals

In [ ]:
#Integers
x = int(1)
y = int(1.2)
z = int("3")

print(x, y, z)

1 1 3

In [ ]:
#Floats
x = float(1)
y = float(2.3)
z = float("4")

print(x, y, z)

1.0 2.3 4.0

In [ ]:
#string
x = str("s1")
y = str(3)
z = str(4.2)

print(x, y, z)

s1 3 4.2

# Strings

Strings in python are either surrounded by single quote marks, or double quotation marks . Ex 'Rana' or "Rana"

In [ ]:
# Quotes inside Quotes : You can use quotes inside string, as long as they dont match the quotes surrouning the string

print("It's alright")
print("He is called 'Rana'")
print('He is called "Rana"')

It's alright
He is called 'Rana'
He is called "Rana"

In [ ]:
# Assign String to a variable : Assining a string to a variable is done with the variable name followed by an equal sign and the string

a="Hello"
print(a)

Hello

In [ ]:
# Multiline string : You can assign multiline string to a variabe by using three quotes

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod"""

print(a)

b = ''' This is a sample
string that is spread across
multiple lines '''
print(b)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod
 This is a sample
string that is spread across
multiple lines

# Strings are Arrays

In [ ]:
# Strings in python are arrays of unicode characters. Note python doesnt have character type data type.
# Single character is a string of lenght 1

a = "Hellow world"
print(a[1])

# Looping through the string
for x in "Rana":
  print(x)

#String length
print(len(a))

#Check string
for x in "Rana":
  if x == "a":
    print("Yes")

print("world" in a)

#Check if not present
print("world" not in a)

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")
else:
  print("No, 'free' is not present.")

e
R
a
n
a
12
Yes
Yes
True
False
Yes, 'free' is present.

# Python - Slicing Strings

In [ ]:
b = "Slicing a string"
print(b[2:5]) # Prints from index 2 (which starts with 0) to 4 only. Not 5

#Slice from the start
print(b[:5]) #Print from 0 to 4

# Slice to the end
print(b[2:]) #Print from 2 till end

b = "Hello, World!"
#Negative indexing
print(b[-5:-2]) #Print from -5 to -2

ici
Slici
icing a string
orl

# Python - Modify Strings

Python has set of buildin methods that can use on strings

In [ ]:
# To upper case
a = "Hello, World!"
print(a.upper())


#To Lower case
print(a.lower())

#Remove whitespace
a = "      Hello, World!     "
print(a.strip())

HELLO, WORLD!
hello, world!
Hello, World!

# Replace string

In [ ]:
a = "Hello world !"
a.replace("H","R")

'Rello world !'

# Split string

In [ ]:
a = "Hellow ,world !"
a.split(",")

['Hellow ', 'world !']

# Python - String Concatenation

In [ ]:
a = "Hello"
b = "World!"
c = a + b
print(c)

HelloWorld!

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(a + " " + b)

Hello World

# String Fomrat

In [ ]:
age = 36
# This will produce an error:
txt = "My name is John, I am" + age
print(txt)

TypeError: can only concatenate str (not "int") to str

# F-Strings

In [ ]:
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

# Placeholders and Modifiers

In [ ]:
price = 59
txt = f"The price is {price} dollars" # A place holder can include a modifier to format that value
print(txt)

The price is 59 dollars

In [ ]:
# A placeholder can contain math operations
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

# Python - Escape Characters

In [ ]:
# To insert characters that  are illegal in a string, use an escape character
txt = "We are the so-called "Vikings" from the north"

SyntaxError: invalid syntax (ipython-input-756252777.py, line 2)

In [ ]:
# To fix above problem use \ character
txt = "We are the so-called \"Vikings\" from the north"
print(txt)

We are the so-called "Vikings" from the north

In [ ]:
# Single Quote
txt = "We live in \"Atlanta\""
print(txt)

# Backslash
txt = "This will insert one \\ (backslash)"
print(txt)

# New Line
txt = "Hello\nWorld"
print(txt)

#Carriage return
txt = "Hello\rWorld"
print(txt)

#Tab
txt = "Hello\tWorld"
print(txt)

#Backspace
txt = "Hello \bWorld"
print(txt)

# Form Feed
txt = "Hello \fWorld"
print(txt)

#Octal value
txt = "\110\145\154\154\157"
print(txt)

#Hex value

We live in "Atlanta"
This will insert one \ (backslash)
Hello
World
World
Hello	World
Hello World
Hello World
Hello

# Python - String Methods

In [ ]:
# Converts the first character to upper case
a = "Hello, World!"
print(a.capitalize())

# Casefold - Converts string into lower case
print(a.casefold())

# Center - Return a centered string
print(a.center(3))

# center
print(a.center(20, "O"))

# Count - Returns the number of times a specified value occurs in a string
print(a.count("H"))

# Encode - Returns an encoded version of the string
print(a.encode())

# endswith() - Returns true if the string ends with specific value
print(a.endswith("!"))

# expandtabs - Sets the tab size of the string
print(a.expandtabs())

#find() - Searches the string for a specified value and returns the position of where it was found
print(a.find("H"))

#format() - Formats specified values in a string
msg = "This is x value {} and this is y value".format(3,4)
print(msg)

#Formats specified value in a string
dict = {"x":10, "y":20}
msg="value of x is {x} and y is {y}".format_map(dict)
print(msg)

# index - Searches the string for a specified value and returns
# the position of where it was found
print(a.index("H"))

# isalnum - Returns true if all characters in the string are alpanumeric
msg= "3453".isalnum()
msg="Hello world!".isalnum()

# isalpha- Returns true if all characters in the string are in the alpahet
a = "Hello"
b = "10"
print(a.isalpha())
print(b.isalpha())

# isascii
a = "hello"
print(a.isascii())

# isdecimal - Returns True if all chaaracters in teh string are digits
a = "10"
print(a.isdecimal())

# isidentifier - Returns true if the string is an identifier
a = "Hello"
print(a.isidentifier())

# islower
a = "hello"
print(a.islower())

# isnumeric
a = "1234"
print(a.isnumeric())

# isprintable
a = "Hello"
print(a.isprintable())

# isspace
print(a.isspace())

# istitle - Returns true if the string follows the rules of a title
a = "Hello"
print(a.istitle())

# isupper - Returns True if all characters in the string are upper case
a = "HELLO"
print(a.isupper())

# join - Joins the elements of an iterable to the end of the string
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

#Join - Joins the elements of an iterable to the end of the string
myTuple = ("John", "Peter", "Vicky")
x = " ".join(myTuple)
print(x)

# ljust - Returns a left justified version of the string
a = "Hello"
print(a.ljust(20))

# lower - Converts a string in to lower case
print(a.lower())

# lstrip - Returns a left trim version of the string
a = "     Hello"
print(a.lstrip())

# maketrans
table = str.maketrans("abc", "123")
print("a black cab".translate(table))

# partition - Returns a tuple where the string is parted into three parts
a = "I could eat bananas all day"
print(a.partition("bananas"))

# replace
a = "Hello"
print(a.replace("H", "J"))

# rfind - Searches the string for a specififed value and returns the last
# postiion of where it was found
a = "Hello"
print(a.rfind("l"))

# rpartition - Returns a tuple where the string is parted into three parts
a = "I could eat bananas all day"
print(a.rpartition("bananas"))

# rsplit -  Returns a right trim version of the string
a = "Hello world"
print(a.rsplit())
"Murali!!!".rstrip("!")
"hello   ".rstrip()

Hello, world!
hello, world!
Hello, World!
OOOHello, World!OOOO
1
b'Hello, World!'
True
Hello, World!
0
This is x value 3 and this is y value
value of x is 10 and y is 20
0
True
False
True
True
True
True
True
True
False
True
True
John#Peter#Vicky
John Peter Vicky
Hello
hello
Hello
1 2l13k 312
('I could eat ', 'bananas', ' all day')
Jello
3
('I could eat ', 'bananas', ' all day')
['Hello', 'world']

'hello'

In [ ]:
# split - Splits the string at the specified separator, and returns a list
a = "Hello world"
print(a.split())

['Hello', 'world']

In [ ]:
# splitlines - Splits the string at line breaks and returns list
a = "This is first line \n this is second line"
a.splitlines()

['This is first line ', ' this is second line']

In [ ]:
# startswith - Returns True if the string starts with the specififed value
"Hellworld".startswith("H")

True

In [ ]:
# Strip - Returns a trimmed version of the string
"Murali!!!!".strip("!")

'Murali'

In [ ]:
# swapcase - Swap cases, lower case becomes upper case and vice versa
"MURALI".swapcase()

'murali'

In [ ]:
# title - Returns a translated string
"title of the string is".title()

'Title Of The String Is'

In [ ]:
# translate - Returns a translated string
table = str.maketrans("abc", "123")
"abc cab".translate(table)

'123 312'

In [ ]:
a="Hello world!!"
print(a.upper())

HELLO WORLD!!

In [ ]:
# zfill - Fills the string with a specifified number of 0 values at the beginning
a = "Hello"
a.zfill(20)

'000000000000000Hello'

# Python Operators

In [ ]:
# Operators are used to perform operations on variables and values
print(10+5)

15

In [ ]:
sum1 = 100+50
sum2 = sum1 + 250
sum3 = sum2 + sum2
print(sum1, sum2, sum3)

150 400 800

# Python Arthmetic Operators

In [ ]:
a = 10
b = 30
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

40
-20
300
0.3333333333333333
10
1000000000000000000000000000000
0

# Division in Pythnon

In [ ]:
x = 12
y = 5
print (x/y)

2.4

In [ ]:
# Floor division always returns integer
x = 12
y = 5
print(x//y)

2

# Python Assignment Operators

In [ ]:
a = 10
b = 5
c = a+b
print(c)
a += b
print(a)
a -= b
print(a)
a *= b
print(a)

15
15
10
50

In [ ]:
# Assignment operators
a = 20
b = 10
a /= b
print(a)
a %= b
print(a)
a //= b
print(a)
a **= b
print(a)
a = 10
b = 5
a &=  b
print(a)
a |= b
print(a)
a ^= b
print(a)
a >>= b
print(a)
a <<= b
print(a)

2.0
2.0
0.0
0.0
0
5
0
0
0

# The Walrus Operator

In [ ]:
numbers = [1,2,3,4,5]

if(count := len(numbers)) > 3:
  print(f"List has {count} elements")

List has 5 elements

# Comparision Operators

In [ ]:
a = 40
b = 20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
True
False
False
True

# Chaining Comparision operators

In [ ]:
x = 5
print ( 1 < x < 10)
print( 1 < x and x < 10)

True
True

# Logical Operators

In [ ]:
# Logical operators are used to combine conditional statements
a = 30
b = 40
print(a>20 and b>30)
print(a>20 or b>30)
print(not(a>20 and b>30))

True
True
False

# Identity Operators

In [ ]:
# Identity operators are used to compare the objects, not if they are equal,
# but if they are actually the same object, with the same memory location
x = 10
y = 10
print(x is y)
print(id(x))
print(id(y))
print(x is not y)

True
11654664
11654664
False

In [ ]:
# Difference between is and ==
# is check if both variable point to the same object in memory
# == checks if the values of both variable are equal

# Member ship operators

- Used to test if a sequence is rpesnet in an object

In [ ]:
fruits = ["apple", "banana"]
print("banana" in fruits)
print("banana" not in fruits)
#

True
False

In [ ]:
# Membership in strings
text = "Hellow World"
print("H" in text)
print("hello" in text)
print("z" not in text)

True
False
True

# Python Bitwise operators

In [ ]:
# Bitwise operators
a = 10
b = 2
c = a & b # 0000..1010 & 0000..0010
print(c)
c = a | b # 0000..1010 | 0000..0010
print(c)
c = a ^ b # 0000..1010 ^ 0000..0010
print(c)
c = ~a # ~0000..1010
print(c)
c = a << b # 0000..1010 << 0000..0010
print(c)
c = a >> b # 0000..1010 >> 0000..0010
print(c)

2
10
8
-11
40
2

# Python Operator Precedence

In [ ]:
#Precendence order
# First precedence is ()
a = (10 + 5) * 2 # Not evaulated as 10 + (5 * 2)
print(a)

30

In [ ]:
# Second is Exponentiation
a = 2 ** 3 ** 2 # 2 ** (3 ** 2)
print(a)

512

In [ ]:
# Operator Associativity in Python
# --------------------------------
# Only three categories of operators in Python are right-associative:
#   1. Exponentiation (**)
#   2. Unary operators: +x, -x, ~x
#   3. Walrus operator (:=)
#
# All other binary operators (arithmetic, bitwise, boolean, etc.) are left-associative.
#
# Definitions:
#   Right associative:  a op b op c    a op (b op c)
#   Left associative:   a op b op c    (a op b) op c

In [ ]:
# Mulitplication, division, floow division and modulus
a = 10 * 2
b = 10 / 2
c = 10 // 2
d = 10 % 2
print(a, b, c, d)

a = 10 * 2 + 10 / 5 # Evaluates as 10 * 2 + (10/5)
print(a)

b = 10 * 10 // 2 + 10 % 2 # Evaluates as 10 * (10 // 2) + (10 % 2)
print(b)

20 5.0 5 0
22.0
50

In [ ]:
# Addition and substration
a = 10 + 5 - 3 # Evaluates as 10 + (5-3) note apart from exponential, unary and walrus rest of operators left associative
print(a)

12

In [ ]:
# Bitwise left and right shifts
# Important points to note
# Left shift means multiply . a << b is same as a * 2**b
# Right shift means divide. a >> b is same as a // 2**b
a = 10
b = 1
c = a >> b # Its nothing but a // 2**b
d = a << b
print(c)
print(d)

e = a >> b + a << b # 10 >>  (1 + 10) << 1  as + has more precedence than shift operators
print(e)

5
20
0

# Python Lists

- Lists are used to store multiple items in a single variable

- Lists are one of 4 built-in data types in Python used to store collection of data, the other 3 are tuples, set and Dictionary which have different qualities and usage.
- Lists are created using square brackets
- Lists are ordered, changeable and allow duplicate values (OCD)

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#  Ordered
# When we say lists are ordered, it means the items have a different order, and that order will not change.
# Any item added to the list are placed at the end of the list

# Changeable
# Lists are changeable meaning that they can change, and remove items in a list after it has been created

# Allow duplicates
# Since lists are indexed, Lists can have with the same value

# List Length

In [ ]:
thisList = ["apple", "banana", "cherry"]
print(len(thisList))

3

# List items - Data Types

In [ ]:
# List items can be of any data types
list1 = ["a","b",""]
print(list1)

['a', 'b', '']

In [ ]:
#Strings
list2 = ["str1","str2","str3"]
print(list2)

['str1', 'str2', 'str3']

In [ ]:
# Numbers
list3 = [1,2,34,5,6]
print(list3)

[1, 2, 34, 5, 6]

In [ ]:
# boolean
list4 = [True, False]
print(list4)

[True, False]

In [ ]:
# mixed : List can have different data types
list5 = [1,3,"str1",True]
print(list5)

[1, 3, 'str1', True]

# Type ()

In [ ]:
# Lists are defined as objects with the data type 'list'

In [ ]:
mylist = ["apple","banana","cherry"]
print(type(mylist))

<class 'list'>

# The list() Constructor

In [ ]:
# Using list() constructor to make list
thelist = list(("apple", "banana", "cherry")) #note the double round-brackets
print(thelist)

['apple', 'banana', 'cherry']

# Python Collections (Arrays)

There are four collection data types in python

- List - Ordered, Changeable, Allow Duplicates (OCD)
- Tuple - Ordered, UnChangeabel , Allow Duplicates (OUD)
- Set - Un-ordered, Unchageable, Unindexed, No duplicate numbers (UUUND)
- Ditionary - Ordered, Changeable, No duplicate number (OCND)

# Python - Access List items

In [ ]:
# Access items
#List items are index and can be accessed by referring the index number

thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

# Negative Indexing

In [ ]:
# Negative indexing means start from the end
# - 1 refers to the last item
# -2 refers to the second last item etc

thelist = ['a', 'b', 'c', 'd']
print(thelist[-1])

d

# Range of indexs

- You can specify where to start and where to end the range.

- When specifying the range, the return value will be a new list with the specified items

In [ ]:
thelist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thelist[2:5])

# The search will start at index 2 included and end at index 5  excluded
# First item has index 0

['cherry', 'orange', 'kiwi']

In [ ]:
# By leaving out the start value the items from the beginning to , but NOT including "kiwi"

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
print(thelist[:4])

# By leaving out end value the items from "Cherry to end"
print(thelist[2:])

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Range of negative indexes

In [ ]:
#Specify negative indexes if you want to start the search from the end of the list
thelist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thelist[-4:-1]) # This returns orange (-4) to, but NOT including mango (-1)

['orange', 'kiwi', 'melon']

# Check if item Exists

In [ ]:
thislist = ["apple", "banana", "Cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Python. - Change List items

- To change the value of specific item, refer to the index number

In [ ]:
thelist = ["apple","banan","cherry"]
thelist[1] = "kiwi"
print(thelist)

['apple', 'kiwi', 'cherry']

# Chnage a Range of item values

In [ ]:
thelist = ['a','b','c','d','e']
thelist[1:3] = ['1','2','3']
print(thelist)

['a', '1', '2', '3', 'd', 'e']

In [ ]:
# If you insert more items than you replace, the new items will be
# inserted where you specififed, and the remaining items will move accordingly

thelist = ["apple", "banana", "cherry"]
thelist[1:2] = ["blackcurrant", "watermelon"]
print(thelist)

# The length of the list will change when the number of items inserted
# does not match the number of items replaced and the remaining items will move accordingly


# Change the second and third value by replacing it with one value
thelist = ["apple", "banana", "cherry"]
thelist[1:3] = ["watermelon"]
print(thelist)

['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'watermelon']

# Insert items to the list

In [ ]:
# To insert items without replacing any of the existing values, we can use the insert() method

thelist = ["apple", "banana", "cherry"]
thelist.insert(2, "watermelon")
print(thelist)

['apple', 'banana', 'watermelon', 'cherry']

# Python - Add List items

In [ ]:
# To add list to end of the list use append()
thelist = ["apple", "banana", "cherry"]
thelist.append("orange")
print(thelist)

['apple', 'banana', 'cherry', 'orange']

# Extend list

In [ ]:
# To append elements from another list to the current list, use extend() method

thelist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thelist.extend(tropical)
print(thelist)

# We can add tuple items to end of list using extend
thistuple = ("kiwi","strawberr")
thelist.extend(thistuple)
print(thelist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya', 'kiwi', 'strawberr']

# List Comprehension

- Offers shorter syntax

In [2]:
fruits = ["apple","banana","Cherry","mango","kiwi"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [6]:
# Now lets try List comprehension
# Syntax is newlist = [expression for item in iterable if condition == True]
fruits = ["apple","banana","Cherry","mango","kiwi"]
[x for x in fruits if "a" in x]

['apple', 'banana', 'mango']

# Condition

- Codition is like filter that only accepts the items that evaluates to True

In [8]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'Cherry', 'mango', 'kiwi']

# Iterable
- The iterable can be any iterable object, list a list, tuple, set etc

In [12]:
newlist = [x for x in range(10)]
print(newlist)

[x for x in range(10) if x < 5]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4]

# Expression

In [16]:
newlist = [x.upper() for x in fruits]
print(newlist)

newlist = ["hello" for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'MANGO', 'KIWI']
['hello', 'hello', 'hello', 'hello', 'hello']

# Python - Sort Lists

In [18]:
# Sort List Alphanumerically

# List objects have a sort() method that will sort the list alpanumerically , ascending by default

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82,23]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]

In [19]:
# Sort asending
thelist = [23,5,2,4,22,32]
thelist.sort(reverse = True)
print(thelist)

[32, 23, 22, 5, 4, 2]

# Customize the sort Function

In [21]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82,23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

# Case Insensitive Sort

- By default sort function is case sensitive, resulting in all capital letters being sorted before lower case letters.

In [22]:
thislist = ["banana","Orange","Kiwi","Cherry"]
thislist.sort()
print(thislist)

['Cherry', 'Kiwi', 'Orange', 'banana']

In [24]:
# Use built-in function as key functions when sorting a list
thislist = ["banana","Orange","Kiwi","Cherry"]
thislist.sort(key = str.lower) # Case sensitive sort function
print(thislist)

['banana', 'Cherry', 'Kiwi', 'Orange']

# Reverse Order

- revese() method reverses current sorting order of the elements

In [26]:
# Revese the list itemsthislist = ["banana", "Orange","Kiwi","cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Python - Copy Lists

1.   You cannot copy a list simply by typing list1 = list2 because list1 willl be a reference to list2
2. Any Change made in list2 will be made automatically on list2

In [1]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

# Use the list() method

- Another way to use is built-in list() method

In [2]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Use the Slice Operator

- Another alternative is to use the : (slice) operator

In [3]:
thislist = ["a","b","c","d"]
mylist = thislist[:]
print(mylist)

['a', 'b', 'c', 'd']