# List Comprehension

In [ ]:
fruits = ["apple","banana","cherry"]
lst = []
for x in fruits:
  if "a" in x:
    lst.append(x)
print(lst)

['apple', 'banana']

In [ ]:
[x for x in fruits if "a" in x]

['apple', 'banana']

In [ ]:
# Syntax of list compehension

# newlist. [expression for item in iterable if condition == True]

In [3]:
# Get list of even number greater than 4 from list
lst = [1,2,4,3,4,5,63,8,16]
a=[]
for x in lst:
  if x%2==0 and x >4:
    a.append(x)
print(a)

[8, 16]

In [10]:
# Getting above result using List Comprehension
lst = [34,2,4,5,7,7,8,16]
[x for x in lst if x%2 ==0 and x>4 ]

a1 = [x if x>4 else x%2==0 for  x in lst]
print(a1)

[34, True, True, 5, 7, 7, 8, 16]

In [11]:
lst = [1,2,3,4,5,6,7,8]
a1 = ["Even" if x%2 == 0 else "Odd" for x in lst]
print(a1)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [13]:
#Nested if conditions in list comprehension
# Create a single list with all elements in the nested list
lst = [[1,2],[3,4],[5,6]]
lst1 = [x for n in lst for x in n]
print(lst1)

[1, 2, 3, 4, 5, 6]

# Python - Function

- Function is a re-usuable block of code that performs specific task
- Use keyword def
  - def function_name(param1, param2, ...)
      line1
      line2
      return # Return is the last statement in the function

In [14]:
#Create a fucntion
def my_function():
  print("Hello from a function")
  print("Good morning")
print("Outside the function")

Outside the function

In [16]:
# Calling the funciton
my_function()

Hello from a function
Good morning

In [20]:
# Arguments/Parameters: Information can be passed into functions as arguments
def PizzaMachine(veggie, sauce):
  print(veggie + " " + "Pizza" + " " + sauce)

PizzaMachine("Pepporoni","Seracha")

Pepporoni Pizza Seracha

# Positional Arguements
- Pass the argument in the right order

In [24]:
def greeting(fname, lname):
  print("Hello" + " " + fname)

greeting("Murali", "Krishna")

Hello Murali

# Keyword Arguments
- You can also send arguments with the key = value syntax

In [26]:
def greeting(fname, lname):
  print("Hello" + " " + fname + " " + lname)

greeting(fname = "Murali", lname="krishna")

Hello Murali krishna

In [27]:
def diffthis(num1, num2):
  print(num1 - num2)

diffthis(2,10)

-8

In [30]:
# Arbitrary Argument - Some function can have different number of arguement
# as it cant be predicted

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Rana")

The youngest child is Rana

In [34]:
# Building a function that can take any number of kids name
# from each household during the survey

def cum_sum(*num1):
  sum = 0
  for i in num1:
    sum = sum + i
  return sum

cum_sum(1,2,3,4)

10

In [35]:
cum_sum(2,3,4)

9

In [37]:
# Building a function that can take any number of kids from each household during the survey

def polioDrive(*kids):
  print(kids)

polioDrive("Murali", "Krishna", "Raj")

('Murali', 'Krishna', 'Raj')

In [49]:
# Arbitrary argument and positional argument
def my_function(food, *kids):
  print("Kid name is",kids)
  print("I like " + food)

my_function("Biryani","Rana")

Kid name is ('Rana',)
I like Biryani

In [51]:
# Arbitrary Keyword Argueents, **kwargs

def my_function(**kids):
  print(kids)

my_function(kid1 = "Murali", kid2 = "Krishna", house_number = 2, doctor="Xyz")

{'kid1': 'Murali', 'kid2': 'Krishna', 'house_number': 2, 'doctor': 'Xyz'}

In [53]:
def newfunc(*marks, **studentdetail):
  print("Positional Args:", marks)
  print("Keyword Args", studentdetail)

newfunc(50,56,34,name = "Murali",class_name = "12th")

Positional Args: (50, 56, 34)
Keyword Args {'name': 'Murali', 'class_name': '12th'}

# Lambda Functiona

- A lambda function is a small anonymous fucntion
- It can have any number of arguments but only one expression
- the expression is evaluated and returned
- Its good for performing short operations / data manipulations
- Using the lambda funciton can sometime reduce the readabiliyt of code.

In [57]:
# syntax of lambda function
lambda arguments : expression

In [55]:
square = lambda X: X ** 2
print(square(5))

25

In [56]:
# Adding two number
add = lambda x,y : x + y
print(add(2,3))

5

# Map function
- map() is used to apply a function to each element of an iterable

In [60]:
# Syntax of map
# map(funciton , iterable)

# The map function in python is a built-in function that applies a given funciton to each item of an iterable
# Z (such as list , tuple or set)
# Returns a map object (an iterator) containing the results

numbers = [1,2,3,4]
squared = map(lambda x: x**2, numbers)
print(list(squared)) #squared return above is an object. So we need to convert to list

[1, 4, 9, 16]

In [61]:
# How to get the same result without lambda function
numbers = [1,2,3,4]
def squared(x):
  return x**2

squared_numbers = map(squared, numbers)
print(list(squared_numbers))

[1, 4, 9, 16]

# Python Filter

- filter() is used to select elements for an iterable based on a condition

In [66]:
nums = [1,2,3,4,5,6]
result = filter(lambda x: x%2==0, nums)
print(list(result))

result = lambda x: x%2==0
print(result([x for i in nums]))

[2, 4, 6]

TypeError: unsupported operand type(s) for %: 'list' and 'int'

# Generator function
- Special function is used when we want to generate one value of time instead of returnign everything at once.
- Saves memory
- Useful for large data or inifinite sequneces
- Values are produced only when needed
- Instead of return we return yield

In [67]:
def numbers():
  yield 1
  yield 2
  yield 3

for n in numbers():
  print(n)

1
2
3

# Input function

In [68]:
val = input("Enter your number")
print(val)

Enter your numberMruali
Mruali

In [1]:
def factorial(n):
  fact = 1
  for i in range(1, n+1):
    fact = fact * i
  return fact

val = int(input("Enter your number"))
print("Factorial: ", factorial(val))

Enter your number20
Factorial:  2432902008176640000

# Errors and exceptional handling

In [2]:
# ZeroDivisionError

marks = 1000
a = marks / 0
print(a)

ZeroDivisionError: division by zero

In [3]:
# TypeErro
x = 5
y = "hello"
x = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
# Value error
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [4]:
#NameError - Object that you are using is not defined
print(d)

NameError: name 'd' is not defined

In [5]:
# IndexError: This exceptio is raised when an index is out of range
my_list = [1,2,3,4]
print(my_list[10])

IndexError: list index out of range

# Exception handle

- To handle above errors we use exception handling
- try and except block

In [7]:
# Generic exception - Try block gets executed without error if there are no exceptions
try:
  print(x)
except:
  print("An exception occured")
print("Code for try catch")

5
Code for try catch

In [8]:
try:
  x = 1/0
  print(x)
except:
  print("An exception occured")

An exception occured

In [13]:
# Apply mulitple types of exception handling
try:
  num = int(input("Enter a number:"))
  c = 100 / num
  print("100 divide by", num, ":", c)
  print('done')
except ZeroDivisionError as e:
  print("Division by zero is not allowed")
  print("Zero is an invalid number")
except ValueError as e:
  print("Value error !!")
  print("text is bad input")
print("Awsome")

Enter a number:0
Division by zero is not allowed
Zero is an invalid number
Awsome

In [19]:
# Custom Err (Custom Exception) in Python

# A custom error is a user-defined exception that is raised when a specific exception happens

try:
  age = int(input("Enter the age"))
  if age < 18:
    raise ageException
except:
    print("You are disqualified")

print("You are qualified")

Enter the age34
You are qualified