# List Comprehension

In [ ]:
fruits = ["apple","banana","cherry"]
lst = []
for x in fruits:
  if "a" in x:
    lst.append(x)
print(lst)

['apple', 'banana']

In [ ]:
[x for x in fruits if "a" in x]

['apple', 'banana']

In [ ]:
# Syntax of list compehension

# newlist. [expression for item in iterable if condition == True]

In [3]:
# Get list of even number greater than 4 from list
lst = [1,2,4,3,4,5,63,8,16]
a=[]
for x in lst:
  if x%2==0 and x >4:
    a.append(x)
print(a)

[8, 16]

In [10]:
# Getting above result using List Comprehension
lst = [34,2,4,5,7,7,8,16]
[x for x in lst if x%2 ==0 and x>4 ]

a1 = [x if x>4 else x%2==0 for  x in lst]
print(a1)

[34, True, True, 5, 7, 7, 8, 16]

In [11]:
lst = [1,2,3,4,5,6,7,8]
a1 = ["Even" if x%2 == 0 else "Odd" for x in lst]
print(a1)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [13]:
#Nested if conditions in list comprehension
# Create a single list with all elements in the nested list
lst = [[1,2],[3,4],[5,6]]
lst1 = [x for n in lst for x in n]
print(lst1)

[1, 2, 3, 4, 5, 6]

# Python - Function

- Function is a re-usuable block of code that performs specific task
- Use keyword def
  - def function_name(param1, param2, ...)
      line1
      line2
      return # Return is the last statement in the function

In [14]:
#Create a fucntion
def my_function():
  print("Hello from a function")
  print("Good morning")
print("Outside the function")

Outside the function

In [16]:
# Calling the funciton
my_function()

Hello from a function
Good morning

In [20]:
# Arguments/Parameters: Information can be passed into functions as arguments
def PizzaMachine(veggie, sauce):
  print(veggie + " " + "Pizza" + " " + sauce)

PizzaMachine("Pepporoni","Seracha")

Pepporoni Pizza Seracha

# Positional Arguements
- Pass the argument in the right order

In [24]:
def greeting(fname, lname):
  print("Hello" + " " + fname)

greeting("Murali", "Krishna")

Hello Murali

# Keyword Arguments
- You can also send arguments with the key = value syntax

In [26]:
def greeting(fname, lname):
  print("Hello" + " " + fname + " " + lname)

greeting(fname = "Murali", lname="krishna")

Hello Murali krishna

In [27]:
def diffthis(num1, num2):
  print(num1 - num2)

diffthis(2,10)

-8

In [30]:
# Arbitrary Argument - Some function can have different number of arguement
# as it cant be predicted

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Rana")

The youngest child is Rana

In [34]:
# Building a function that can take any number of kids name
# from each household during the survey

def cum_sum(*num1):
  sum = 0
  for i in num1:
    sum = sum + i
  return sum

cum_sum(1,2,3,4)

10

In [35]:
cum_sum(2,3,4)

9

In [37]:
# Building a function that can take any number of kids from each household during the survey

def polioDrive(*kids):
  print(kids)

polioDrive("Murali", "Krishna", "Raj")

('Murali', 'Krishna', 'Raj')

In [49]:
# Arbitrary argument and positional argument
def my_function(food, *kids):
  print("Kid name is",kids)
  print("I like " + food)

my_function("Biryani","Rana")

Kid name is ('Rana',)
I like Biryani

In [51]:
# Arbitrary Keyword Argueents, **kwargs

def my_function(**kids):
  print(kids)

my_function(kid1 = "Murali", kid2 = "Krishna", house_number = 2, doctor="Xyz")

{'kid1': 'Murali', 'kid2': 'Krishna', 'house_number': 2, 'doctor': 'Xyz'}

In [53]:
def newfunc(*marks, **studentdetail):
  print("Positional Args:", marks)
  print("Keyword Args", studentdetail)

newfunc(50,56,34,name = "Murali",class_name = "12th")

Positional Args: (50, 56, 34)
Keyword Args {'name': 'Murali', 'class_name': '12th'}